
.rende{
    display: flex;
    gap: 8px;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid #050505;
    padding: 10px;
}
.rende input{
    border-color: darkblue;
    border-radius: 4px;
    padding: 10px; 
    height: 15%;
    
}
.rende textarea{
    border-color: darkblue;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    height: 40%;
}

.rende button{ 
    height: 5%;
    background-color:  paleturquoise;
    border: blue;
    border-radius: 5px;
    cursor: pointer;
}
.rende button:hover{
    background-color: black;
    transition: 1.5s;
    color: blue;
    
}